package-lock.json
.byebug_history

# dependencies
node_modules

# dist
dist

# testing
coverage

# production
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn.lock
yarn-debug.log*
yarn-error.log*

### VisualStudioCode template
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# User-specific stuff:
.idea/\
core/db/development.sqlite3
core/db/test.sqlite3
core/log/development.log
core/Gemfile.lock
core/tmp/
