<div style="background-color: #F2F0F0; width: 100vw; height: 100vh; display:flex; justify-content: center; align-items: center">
  <div>
    잠시만 기다려주세요...
  </div>
</div>
<script>
  window.onload = function() {
    window.parent.postMessage({ success: true }, '*');
  };
</script>
