<div style="background-color: #F2F0F0; width: 100vw; height: 100vh; display:flex; justify-content: center; align-items: center">
  <%= image_tag("landing_page.png", style: "max-width: 200px") %>
</div>

